
<div class="l_g_r">
    <div class="categories">
        <h4>Categories</h4>
        @foreach (var item in Model)
        {
            <h6><a href="#">@item.KategoriAdi</a></h6>}
    </div>
</div>

