
@{
    ViewBag.Title = "ArchivesIndex";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}
<div class="main">
    <div class="container">
        <div class="error-404 text-center">
            <h1>404</h1>
            <p>this link dead link</p>
            <a class="b-home" href="/Home/HomeIndex">Back to Home</a>
        </div>
    </div>
</div>