
@{
    ViewBag.Title = "DetailsIndex";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}

<div class="details">
    <div class="container">
        <div class="det_pic">
            <img src="~/Template/images/img18.jpg" class="img-responsive" alt="">
        </div>
        <div class="det_text">
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. </p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics</p>
        </div>
        <ul class="links">
            <li><i class="date"> </i><span class="icon_text">July 14, 2014</span></li>
            <li><a href="#"><i class="admin"> </i><span class="icon_text">Admin</span></a></li>
            <li class="last"><a href="#"><i class="permalink"> </i><span class="icon_text">Permalink</span></a></li>
        </ul>
        <ul class="links_middle">
            <li><a href="#"><i class="title-icon"> </i><span class="icon_text">Lorem Ipsum Dolore</span></a></li>
            <li><i class="tags"> </i><span class="icon_text">No tags</span></li>
        </ul>
        <ul class="links_bottom">
            <li><a href="#"><i class="comments"> </i><span class="icon_text">5 Comments</span></a></li>
            <li><i class="views"> </i><span class="icon_text">49</span></li>
            <li><i class="likes"> </i><span class="icon_text">12</span></li>
        </ul>
        <div class="comments1">
            <h4>COMMENTS</h4>
            <div class="comments-main">
                <div class="col-md-2 cmts-main-left">
                    <img src="~/Template/images/avatar.png" alt="">
                </div>
                <div class="col-md-10 cmts-main-right">
                    <h5>TOM BROWN</h5>
                    <p>Vivamus congue turpis in augue pellentesque scelerisque. Pellentesque aliquam laoreet sem nec ultrices. Fusce blandit nunc vehicula massa vehicula tincidunt. Nam venenatis cursus urna sed gravida. Ut tincidunt elit ut quam malesuada consequat. Sed semper purus sit amet lorem elementum faucibus.</p>
                    <div class="cmts">
                        <div class="cmnts-left">
                            <p>On April 14, 2014, 18:01</p>
                        </div>
                        <div class="cmnts-right">
                            <a href="#">Reply</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="lev">
            <div class="leave">
                <h4>Leave a comment</h4>
            </div>
            <form id="commentform">
                <label for="author">Name</label>
                <input id="author" name="author" type="text" value="" size="30" aria-required="true">
                <label for="email">Email</label>
                <input id="email" name="email" type="text" value="" size="30" aria-required="true">
                <label for="url">Website</label>
                <input id="url" name="url" type="text" value="" size="30">
                <label for="comment">Comment</label>
                <textarea></textarea>
                <div class="clearfix"></div>
                <input name="submit" type="submit" id="submit" value="Send">
                <div class="clearfix"></div>
            </form>
        </div>

    </div>
</div>


